<%= render "shared/header" %>
<div class="main">
  <%= "#{current_user.nickname}さんのスケジュール" %><br>
  <%= link_to 'new schedule', new_schedule_path %>
  <%= month_calendar events: @schedule do |date, schedule| %>
    <%= date.day %>
    <% schedule.each do |schedule| %>
      <div>
        <%= schedule.start_time.strftime('%H:%M') %>
        <%= link_to schedule.title, schedule_path(schedule)%>
      </div>
    <% end %>
  <% end %>
</div>