<div class="body-schedule">
  <h1>新規作成フォーム</h1>
  <div class="main-schedule">
    <%= form_with(model: @schedule, local: true) do |form|%>
      <div class="textform">
        <%= form.label :"タイトル", class: 'textitem' %>
        <%= form.text_field :title, placeholder: "タイトル", class: 'textbox' %>
      </div>
      <div class="textform">
        <%= form.label :"開始時間", class: 'textitem' %>
        <%= form.datetime_select :start_time, claaa: 'textbox' %>
      </div>
      <div class="textform">
        <%= form.label :"終了時間", class: 'textitem' %>
        <%= form.datetime_select :end_time,　class: 'textbox' %>
      </div>
      <div class="textform">
        <%= form.label :"内容", class: 'textitem' %>
        <%= form.text_area :content, placeholder: '内容', class: 'textbox' %>
      </div>
      <div class="submitform">
        <%= form.submit"新しく予定を追加する", class: 'submitarea' %>
      </div>
    <% end %>
  </div>
</div>
